html{
  box-sizing: border-box;
  font-family:'karla';
  font-size: 16px;
}
body{
  padding: 20px;
}
h2, h4, p{
  margin: 0;
}

*,*:before,*:after{
  box-sizing: inherit;
}
#container{
  width: 600px;
  height: 400px;
  box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
  border-radius: 10px;
  overflow: hidden;
}
#top-section {
width:100%;
height: 45%;
padding:20px;
} 
#bottom-section{
  width:100%;
  height: 55%;
  color:white;
}
#bottom-left-section{
  top:0;
  display: inline-block;
  width:50%;
  height: 100%;
  vertical-align: top; 
  background-color: #2ab2af;
  padding:20px;
}
#bottom-right-section{
  display: inline-block;
  width:50%;
  height: 100%;
background-color: #2ebfb0;
padding:20px;
}
#top-section h2{
  color:#2ab2af;
  margin-bottom: 15px;
}
#top-section h4{
  color:rgb(106, 198, 7);
  margin-bottom: 10px;
}
#top-section p{
  color:#98a6bd;
}
button{
  color:white;
  background-color: rgb(106, 198, 7);
  border: none;
  padding:10px;
  width:100%;
  border-radius:5px ;
}
button:hover{
  cursor: pointer;
  background-color: rgb(137, 255, 10);
  transform: scale(1.02);
}
#price{
  font-weight:700;
  font-size: 1.4rem;

}
#bottom-left-section h4{
  margin-bottom: 15px;
}
#price,#price-amount{
  display:inline-block;
  font-weight: 700;
  font-size: 1.4rem;
}
#price-section{
  margin-bottom: 10px;
}
#price-frequency{
  position: relative;
  top:-3px;
  font-size: 0.8rem;
  opacity: 0.8rem;
  margin-left:5px ;
}
#bottom-left-section p{
  font-size: 0.8rem;
  margin-bottom: 40px;
  font-style: bold;
}
#bottom-right-section ul{
  padding:0px;
  list-style: none;
  font-size: 0.8rem;
  opacity: 0.8;
}
